/* header
------------------------------------------ */
@use '../setting' as s;

.header {
  height: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.25rem;
  background-color: transparent;
  transition: all 0.4s ease-out;

  @include s.mq(tab) {
    height: 5rem;
    padding: 0 2.1875rem;
  }

  &__logo {
    width: 6.0625rem;

    @include s.mq(tab) {
      width: 11.25rem;
    }
  }

  &__logo-link {
    display: block;
    display: flex;
    align-items: center;
  }

  .button--header-cta {
    display: none;
  }

  // スクロールしてFV超えたらヘッダーを固定表示&色変更＆CTAボタンも表示
  &.is-scrolled {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: s.$c_bg01;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
    transition: all 0.4s ease-out;

    .button--header-cta {
      display: inline-flex;
    }
  }
}