/* intro
------------------------------------------ */
@use '../setting' as s;

// scssファイル内での画像パスの書き方
// .xxx {
// background-image: url(#{s.$img-path}/fv_bg_sp.webp);
// }

.intro {
  margin-top: -1.25rem;

  .container {
    padding: 0 1.1875rem;
  }

  &__title {
    font-size: 3.5rem;
    color: s.$c_accent01;
    font-weight: 700;
    line-height: 1;
    text-align: center;

    @include s.mq(tab) {
      font-size: 4.5rem;
    }

    @include s.mq(pc) {
      font-size: 6.75rem;
    }
  }

  &__sub-title {
    font-size: 1rem;
    text-align: center;
    line-height: 1.2;
    letter-spacing: .1em;

    @include s.mq(tab) {
      font-size: 1.5rem;
      margin-top: .5rem;
    }

    @include s.mq(pc) {
      font-size: 2rem;
    }
  }

  &__text {
    font-size: .9375rem;
    margin-top: 1.5625rem;

    @include s.mq(tab) {
      font-size: 1rem;
      line-height: 2;
      text-align: center;
    }
  }
}
