/* price
------------------------------------------ */
@use '../setting' as s;

// scssファイル内での画像パスの書き方
// .xxx {
// background-image: url(#{s.$img-path}/fv_bg_sp.webp);
// }

.price {

  .container {
    padding: 2.5rem 0;
  }

  .section-title {
    color: s.$c_bg01;
    margin-bottom: 0;
    padding-left: 1.875rem;

    @include s.mq(pc) {
      padding-left: 1.25rem; //表と合わせる
    }

    @include s.mq(pc2) {
      padding-left: 0; //表と合わせる
    }
  }
}

.price {

  .price-list-wrap {
    position: relative;
  }
  .price-list {
    display: grid;
    grid-template-columns: 20rem 20rem 20rem; //スクロールさせるため固定値
    column-gap: 1.25rem;
    padding-top: 1.875rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    overflow-x: auto;

    @include s.mq(pc) {
      grid-template-columns: repeat(3, 1fr);
      column-gap: .9375rem;
      padding-top: 2.5rem;
    }

    @include s.mq(pc2) {
      padding-left: 0;
      padding-right: 0;
    }

    &__box {
      background-color: s.$c_bg01;
      border-radius: 10px;
      padding: 2.5rem 1.25rem 0;
      text-align: center;
      position: relative;
    }

    &__title {
      font-size: 1.625rem;
      color: s.$c_accent01;
      line-height: 1.1;
    }

    &__price {
      line-height: 1.1;
      padding: .625rem 0 1.25rem;
    }

    &__price-number {
      font-size: 3rem;
    }

    &__price-yen {
      font-size: 2.5rem;
    }

    &__item {
      border-top: 1px solid s.$c_border01;
      padding: 2rem 0;
      line-height: 1.1;
    }

    &__item-title {
      font-size: 1.125rem;
      font-weight: 400;
    }

    &__item-text {
      font-size: 1rem;
      font-weight: 700;
      margin-top: .3125rem;
    }

    // オススメtag
    &__tag {
      display: block;
      position: absolute;
      top: -1.25rem;
      left: 50%;
      transform: translateX(-50%);
      font-size: 1.25rem;
      font-weight: 700;
      color: s.$c_accent01;
      background-color: s.$c_bg01;
      border: 2px solid s.$c_accent01;
      border-radius: 70px;
      line-height: 1;
      padding: .5rem 0;
      width: 17.75rem;
    }
  }
}

// スクロールタグ表示
.price {
  .price-list {
    &__scroll {
      position: absolute;
      top: 46%;
      right: 5.3%;
      background-color: rgb(0 0 0 / 0.6);
      border-radius: 4px;
      width: 4.6875rem;
      height: 4.6875rem;
      color: s.$c_bg01;
      font-size: .75rem;
      line-height: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: .375rem;
      opacity: 1; //初期状態
      transition: opacity 0.3s ease; //フェードアウト

      @include s.mq(pc) {
        display: none;
      }

      img {
        width: 2.0625rem;
      }
    }

    &__scroll-text {
      display: block;
      margin-top: .5rem;
    }
  }
}