/* studio
------------------------------------------ */
@use '../setting' as s;

// scssファイル内での画像パスの書き方
// .xxx {
// background-image: url(#{s.$img-path}/fv_bg_sp.webp);
// }

.studio {
  .container {
    padding: 2.5rem 1.875rem 1.25rem;

    @include s.mq(tab) {
      padding: 3.75rem 2.5rem;
    }

    @include s.mq(pc2) {
      padding: 3.75rem 0 1.875rem;
    }
  }

  .section-title {
    &__jp {
      color: s.$c_accent01;
    }
  }
}


/* Swiperスライダー */
.swiper-container {
  max-width: 100%;
  margin-inline: auto;
  position: relative;
  margin-bottom: 1.875rem;
  // ページネーション分のスペースを確保(paddingにすると、矢印が画像に対して上下中央揃えの表示にならないので注意)

  .swiper {
    width: 100%;
  }

  .swiper-slide {
    img {
      width: 100%;
      display: block;
    }
  }

  // ページネーション(スライダー外・下部中央に配置)
  .swiper-pagination {
    position: absolute; //.swiper-containerを基準に絶対配置
    bottom: -1.625rem;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // ページネーションの各ドット(Swiper標準クラスを上書き)
  .swiper-pagination-bullet {
    width: .5rem;
    height: .5rem;
    margin: 0 .25rem;
    background-color: s.$c_bg02;
    opacity: 1;
    border-radius: 50%;
    transition: background-color 0.3s;
  }

  .swiper-pagination-bullet-active {
    background-color: s.$c_accent01; // アクティブ時の色
  }

  // 前後の矢印(スライダー外・左右に配置) ※独自の矢印要素を使用
  .my-prev,
  .my-next {
    position: absolute; //.swiper-containerを基準に絶対配置
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0; // Swiper標準のmargin-topを打ち消す
    cursor: pointer;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

    @include s.mq(tab) {
      width: 3.75rem;
      height: 3.75rem;
    }
  }

  .my-prev {
    left: -1.25rem; // スライダーの外側に配置

    @include s.mq(tab) {
      left: -1.875rem;
    }
  }

  .my-next {
    right: -1.25rem;

    @include s.mq(tab) {
      right: -1.875rem;
    }
  }

  // 矢印自体
  .button-arrow {
    position: relative;
    display: inline-block;
    width: 6.2px;
    height: 10.5px;

    &--next {

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: calc(50% - 1px);
        right: 0;
        width: 8px;
        height: 2px;
        border-radius: 9999px;
        background-color: s.$c_accent01;
        transform-origin: calc(100% - 1px) 50%;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }

    &--prev {

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: calc(50% - 1px);
        left: 0;
        width: 8px;
        height: 2px;
        border-radius: 9999px;
        background-color: s.$c_accent01;
        transform-origin: 1px 50%;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }

  // 最初/最後のスライドの場合にスタイル変更
  .my-prev.swiper-button-disabled,
  .my-next.swiper-button-disabled {
    opacity: 0.3; // 薄くする
    pointer-events: none; // クリックできないようにする(念のため)
    cursor: default;
  }
}