/* trainer
------------------------------------------ */
@use '../setting' as s;

// scssファイル内での画像パスの書き方
// .xxx {
// background-image: url(#{s.$img-path}/fv_bg_sp.webp);
// }

.trainer {

  .container {
    padding: 2.5rem 1.875rem;

    @include s.mq(tab) {
      padding: 0 1.5rem 2.5rem 1.5rem;
    }

    @include s.mq(pc2) {
      padding: 0 0 2.5rem 0;
    }
  }

  .section-title {
    color: s.$c_bg01;
  }
}

/* タブメニュー */
// タブボタン
.tab-button {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.tab {
  width: 50%;
  padding: .625rem;
  border-bottom: none;
  text-align: center;
  color: s.$c_bg01;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.1;

  @include s.mq(tab) {
    font-size: 1.125rem;
    padding: 1.25rem;
  }

  // .is-activeがついたtabに指定するスタイル
  &.is-active {
    border-bottom: 3px solid s.$c_bg01;
  }
}

// コンテンツ切替
.tab-contents {
  .content {
    display: none;

    // is-displayがついた.contentを表示
    &.is-display {
      display: block;
    }
  }
}

// コンテンツのスタイル
.trainer {
  .person-list {
    display: flex;
    flex-direction: column;
    row-gap: .9375rem;
    padding-top: 1.25rem;
    max-width: 25rem; //中間幅で要素が大きくなりすぎないように指定
    margin-inline: auto;

    @include s.mq(tab) {
      max-width: 100%;
      flex-direction: row;
      column-gap: .9375rem;
      flex-wrap: nowrap;
    }

    &__item {
      background-color: s.$c_bg01;
      border-radius: 10px;
      overflow: hidden;

      @include s.mq(tab) {
        width: calc((100% - .9375rem * 2) / 3);
      }
    }

    &__img-outer {
      width: 100%;

      img {
        width: 100%;
      }
    }

    &__text {
      padding: 1.25rem;
      line-height: 1.6;
    }
  }
}


