/* base
------------------------------------------ */
@use '../setting' as s;

html {
  // テキストサイズの調整
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: .875rem; //本文
  line-height: 1.8;
  color: s.$c_text01;
  background-color: s.$c_bg01;

  @include s.mq(tab) {
    font-size: .9375rem;
  }

  a {
    color: s.$c_text01;
    text-decoration: none;
  }

  a,
  a:hover,
  button {
    transition: color .3s, background-color .3s, opacity .3s, border-color .3s;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  iframe {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
  }

  ul {
    list-style: none;
  }

  address {
    font-style: normal;
  }
}